*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(image-2.png)
    no-repeat center center/cover ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.todo-app{
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color:black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
}
.todo-app h1{
    font-size: 2rem ;
}

.stat-container{
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.details{
    width: 100%;
}

.details h3{
    color: white;
}

#progressbar{
    width: 100%;
    height: 7px;
    background-color: rgba(42, 80, 155, 0.3);
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
}

#progress{
    width: 0%;
    height: 100%;
    background:rgb(32, 11, 103) ;
    border-radius: 20px;
    transition: width 0.3s ease;
}

#numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: rgb(32, 11, 103) ;
    border: 2px solid rgba(42, 80, 155, 0.3);
    font-weight: bold;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
}

.input-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.input-area input{
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    background: rgb(117, 151, 220, 0.3);
}

.input-area input::placeholder{
    color: rgb(32, 18, 78);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-area button{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: white;
    font-size: 1.rem;
    background: rgb(117, 151, 220, 0.3);
    border: 2px solid rgb(122, 192, 249, 0.18);
    cursor: pointer;
    transition: all o.2s ease;
}

.input-area button:hover{
    transform: scale(1.1);
    background: rgb(127, 160, 217);
}

.todos-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-list{
    width: 100%;
}

#task-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(117, 151, 220, 0.3) ;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: rgb(32, 11, 103);
    position: relative;
    transition: box-shadow 0.2s ease;
}

#task-list li:hover{
    box-shadow:0 0 10px rgb(117, 151, 220, 0.3);
}

#task-list li .checkbox{
    min-width: 20px;
    height: 20px;
    border: 2px solid  rgb(127, 160, 217, 0.3);
    background: transparent;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

#task-list li .checkbox:checked{
    background: rgb(45, 45, 110);
    transform: scale(1.1);
}

#task-list li .checkbox:checked::before{
    content: '\2713';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#task-list li span{
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
}

.completed span{
    text-decoration: line-through;
    color:rgb(32, 11, 103);
    transition: color 0.3s;
}
.completed.checkbox{
    opacity: 0.7;
}
.task-buttons{
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.task-buttons button{
    background: rgb(117, 151, 220, 0.3);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: rgb(32, 11, 103);
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-buttons button:hover{
    transform: scale(1.2);
}

.task-buttons .edit-btn{
    background-color: rgb(93, 0, 255);
}
.task-buttons .delete-btn{
    background-color: rgb(123, 0, 255);
}

@media (max-width: 650px) {
    .container{
        margin: 0 20px;
        padding: 0 10px;
    }

    .todo-app{
        padding: 1.5rem;
        gap: 20px;
    }

    #numbers{
        width: 60px;
        height: 60px;
        font-size: 1rem;
    }

    .input-area input{
        font-size: 1rem;
    }

    #task-list li{
        font-size: 1rem;
    }

}